/*  your css code here. If applicable */
body 
{
	background-color: #f5f5f5;
}
.box1 
{
	border: 1px solid;
	background-color: white;
	padding: 0px 10px 0px 10px;
}
.box2
{
	border: 1px solid;
	background-color: white;
	padding: 0px 10px 0px 10px;
}